.ability-5586 { background-image: url('/img/abilities/abaddon_aphotic_shield.png'); }
.ability-5588 { background-image: url('/img/abilities/abaddon_borrowed_time.png'); }
.ability-5585 { background-image: url('/img/abilities/abaddon_death_coil.png'); }
.ability-5587 { background-image: url('/img/abilities/abaddon_frostmourne.png'); }
.ability-5615 { background-image: url('/img/abilities/abyssal_underlord_atrophy_aura.png'); }
.ability-5617 { background-image: url('/img/abilities/abyssal_underlord_cancel_dark_rift.png'); }
.ability-5616 { background-image: url('/img/abilities/abyssal_underlord_dark_rift.png'); }
.ability-5613 { background-image: url('/img/abilities/abyssal_underlord_firestorm.png'); }
.ability-5614 { background-image: url('/img/abilities/abyssal_underlord_pit_of_malice.png'); }
.ability-5365 { background-image: url('/img/abilities/alchemist_acid_spray.png'); }
.ability-5369 { background-image: url('/img/abilities/alchemist_chemical_rage.png'); }
.ability-5368 { background-image: url('/img/abilities/alchemist_goblins_greed.png'); }
.ability-5366 { background-image: url('/img/abilities/alchemist_unstable_concoction.png'); }
.ability-5367 { background-image: url('/img/abilities/alchemist_unstable_concoction_throw.png'); }
.ability-5309 { background-image: url('/img/abilities/alpha_wolf_command_aura.png'); }
.ability-5308 { background-image: url('/img/abilities/alpha_wolf_critical_strike.png'); }
.ability-5347 { background-image: url('/img/abilities/ancient_apparition_chilling_touch.png'); }
.ability-5345 { background-image: url('/img/abilities/ancient_apparition_cold_feet.png'); }
.ability-5348 { background-image: url('/img/abilities/ancient_apparition_ice_blast.png'); }
.ability-5349 { background-image: url('/img/abilities/ancient_apparition_ice_blast_release.png'); }
.ability-5346 { background-image: url('/img/abilities/ancient_apparition_ice_vortex.png'); }
.ability-5004 { background-image: url('/img/abilities/antimage_blink.png'); }
.ability-5003 { background-image: url('/img/abilities/antimage_mana_break.png'); }
.ability-5006 { background-image: url('/img/abilities/antimage_mana_void.png'); }
.ability-5005 { background-image: url('/img/abilities/antimage_spell_shield.png'); }
.ability-5677 { background-image: url('/img/abilities/arc_warden_flux.png'); }
.ability-5678 { background-image: url('/img/abilities/arc_warden_magnetic_field.png'); }
.ability-5679 { background-image: url('/img/abilities/arc_warden_spark_wraith.png'); }
.ability-5683 { background-image: url('/img/abilities/arc_warden_tempest_double.png'); }
.ability-5002 { background-image: url('/img/abilities/attribute_bonus.png'); }
.ability-5008 { background-image: url('/img/abilities/axe_battle_hunger.png'); }
.ability-5007 { background-image: url('/img/abilities/axe_berserkers_call.png'); }
.ability-5009 { background-image: url('/img/abilities/axe_counter_helix.png'); }
.ability-5010 { background-image: url('/img/abilities/axe_culling_blade.png'); }
.ability-5350 { background-image: url('/img/abilities/backdoor_protection.png'); }
.ability-5351 { background-image: url('/img/abilities/backdoor_protection_in_base.png'); }
.ability-5011 { background-image: url('/img/abilities/bane_brain_sap.png'); }
.ability-5012 { background-image: url('/img/abilities/bane_enfeeble.png'); }
.ability-5013 { background-image: url('/img/abilities/bane_fiends_grip.png'); }
.ability-5014 { background-image: url('/img/abilities/bane_nightmare.png'); }
.ability-5523 { background-image: url('/img/abilities/bane_nightmare_end.png'); }
.ability-5322 { background-image: url('/img/abilities/batrider_firefly.png'); }
.ability-5321 { background-image: url('/img/abilities/batrider_flamebreak.png'); }
.ability-5323 { background-image: url('/img/abilities/batrider_flaming_lasso.png'); }
.ability-5320 { background-image: url('/img/abilities/batrider_sticky_napalm.png'); }
.ability-5171 { background-image: url('/img/abilities/beastmaster_boar_poison.png'); }
.ability-5169 { background-image: url('/img/abilities/beastmaster_call_of_the_wild.png'); }
.ability-5580 { background-image: url('/img/abilities/beastmaster_call_of_the_wild_boar.png'); }
.ability-5352 { background-image: url('/img/abilities/beastmaster_greater_boar_poison.png'); }
.ability-5170 { background-image: url('/img/abilities/beastmaster_hawk_invisibility.png'); }
.ability-5172 { background-image: url('/img/abilities/beastmaster_inner_beast.png'); }
.ability-5177 { background-image: url('/img/abilities/beastmaster_primal_roar.png'); }
.ability-5168 { background-image: url('/img/abilities/beastmaster_wild_axes.png'); }
.ability-5333 { background-image: url('/img/abilities/big_thunder_lizard_frenzy.png'); }
.ability-5332 { background-image: url('/img/abilities/big_thunder_lizard_slam.png'); }
.ability-5682 { background-image: url('/img/abilities/big_thunder_lizard_wardrums_aura.png'); }
.ability-5681 { background-image: url('/img/abilities/black_dragon_dragonhide_aura.png'); }
.ability-5689 { background-image: url('/img/abilities/black_dragon_fireball.png'); }
.ability-5324 { background-image: url('/img/abilities/black_dragon_splash_attack.png'); }
.ability-5016 { background-image: url('/img/abilities/bloodseeker_blood_bath.png'); }
.ability-5015 { background-image: url('/img/abilities/bloodseeker_bloodrage.png'); }
.ability-5018 { background-image: url('/img/abilities/bloodseeker_rupture.png'); }
.ability-5017 { background-image: url('/img/abilities/bloodseeker_thirst.png'); }
.ability-5327 { background-image: url('/img/abilities/blue_dragonspawn_overseer_devotion_aura.png'); }
.ability-5326 { background-image: url('/img/abilities/blue_dragonspawn_overseer_evasion.png'); }
.ability-5325 { background-image: url('/img/abilities/blue_dragonspawn_sorcerer_evasion.png'); }
.ability-5286 { background-image: url('/img/abilities/bounty_hunter_jinada.png'); }
.ability-5285 { background-image: url('/img/abilities/bounty_hunter_shuriken_toss.png'); }
.ability-5288 { background-image: url('/img/abilities/bounty_hunter_track.png'); }
.ability-5287 { background-image: url('/img/abilities/bounty_hunter_wind_walk.png'); }
.ability-5402 { background-image: url('/img/abilities/brewmaster_drunken_brawler.png'); }
.ability-5401 { background-image: url('/img/abilities/brewmaster_drunken_haze.png'); }
.ability-5404 { background-image: url('/img/abilities/brewmaster_earth_hurl_boulder.png'); }
.ability-5406 { background-image: url('/img/abilities/brewmaster_earth_pulverize.png'); }
.ability-5405 { background-image: url('/img/abilities/brewmaster_earth_spell_immunity.png'); }
.ability-5411 { background-image: url('/img/abilities/brewmaster_fire_permanent_immolation.png'); }
.ability-5403 { background-image: url('/img/abilities/brewmaster_primal_split.png'); }
.ability-5409 { background-image: url('/img/abilities/brewmaster_storm_cyclone.png'); }
.ability-5408 { background-image: url('/img/abilities/brewmaster_storm_dispel_magic.png'); }
.ability-5410 { background-image: url('/img/abilities/brewmaster_storm_wind_walk.png'); }
.ability-5400 { background-image: url('/img/abilities/brewmaster_thunder_clap.png'); }
.ability-5550 { background-image: url('/img/abilities/bristleback_bristleback.png'); }
.ability-5549 { background-image: url('/img/abilities/bristleback_quill_spray.png'); }
.ability-5548 { background-image: url('/img/abilities/bristleback_viscous_nasal_goo.png'); }
.ability-5551 { background-image: url('/img/abilities/bristleback_warpath.png'); }
.ability-5281 { background-image: url('/img/abilities/broodmother_incapacitating_bite.png'); }
.ability-5282 { background-image: url('/img/abilities/broodmother_insatiable_hunger.png'); }
.ability-5284 { background-image: url('/img/abilities/broodmother_poison_sting.png'); }
.ability-5283 { background-image: url('/img/abilities/broodmother_spawn_spiderite.png'); }
.ability-5279 { background-image: url('/img/abilities/broodmother_spawn_spiderlings.png'); }
.ability-5280 { background-image: url('/img/abilities/broodmother_spin_web.png'); }
.ability-5643 { background-image: url('/img/abilities/broodmother_spin_web_destroy.png'); }
.ability-5515 { background-image: url('/img/abilities/centaur_double_edge.png'); }
.ability-5514 { background-image: url('/img/abilities/centaur_hoof_stomp.png'); }
.ability-5294 { background-image: url('/img/abilities/centaur_khan_endurance_aura.png'); }
.ability-5295 { background-image: url('/img/abilities/centaur_khan_war_stomp.png'); }
.ability-5516 { background-image: url('/img/abilities/centaur_return.png'); }
.ability-5517 { background-image: url('/img/abilities/centaur_stampede.png'); }
.ability-5426 { background-image: url('/img/abilities/chaos_knight_chaos_bolt.png'); }
.ability-5428 { background-image: url('/img/abilities/chaos_knight_chaos_strike.png'); }
.ability-5429 { background-image: url('/img/abilities/chaos_knight_phantasm.png'); }
.ability-5427 { background-image: url('/img/abilities/chaos_knight_reality_rift.png'); }
.ability-5331 { background-image: url('/img/abilities/chen_hand_of_god.png'); }
.ability-5330 { background-image: url('/img/abilities/chen_holy_persuasion.png'); }
.ability-5328 { background-image: url('/img/abilities/chen_penitence.png'); }
.ability-5329 { background-image: url('/img/abilities/chen_test_of_faith.png'); }
.ability-5522 { background-image: url('/img/abilities/chen_test_of_faith_teleport.png'); }
.ability-5262 { background-image: url('/img/abilities/clinkz_death_pact.png'); }
.ability-5260 { background-image: url('/img/abilities/clinkz_searing_arrows.png'); }
.ability-5259 { background-image: url('/img/abilities/clinkz_strafe.png'); }
.ability-5261 { background-image: url('/img/abilities/clinkz_wind_walk.png'); }
.ability-5210 { background-image: url('/img/abilities/courier_burst.png'); }
.ability-5492 { background-image: url('/img/abilities/courier_go_to_secretshop.png'); }
.ability-5207 { background-image: url('/img/abilities/courier_return_stash_items.png'); }
.ability-5205 { background-image: url('/img/abilities/courier_return_to_base.png'); }
.ability-5209 { background-image: url('/img/abilities/courier_shield.png'); }
.ability-5208 { background-image: url('/img/abilities/courier_take_stash_items.png'); }
.ability-5206 { background-image: url('/img/abilities/courier_transfer_items.png'); }
.ability-5128 { background-image: url('/img/abilities/crystal_maiden_brilliance_aura.png'); }
.ability-5126 { background-image: url('/img/abilities/crystal_maiden_crystal_nova.png'); }
.ability-5129 { background-image: url('/img/abilities/crystal_maiden_freezing_field.png'); }
.ability-5127 { background-image: url('/img/abilities/crystal_maiden_frostbite.png'); }
.ability-5256 { background-image: url('/img/abilities/dark_seer_ion_shell.png'); }
.ability-5257 { background-image: url('/img/abilities/dark_seer_surge.png'); }
.ability-5255 { background-image: url('/img/abilities/dark_seer_vacuum.png'); }
.ability-5258 { background-image: url('/img/abilities/dark_seer_wall_of_replica.png'); }
.ability-5305 { background-image: url('/img/abilities/dark_troll_warlord_ensnare.png'); }
.ability-5306 { background-image: url('/img/abilities/dark_troll_warlord_raise_dead.png'); }
.ability-5233 { background-image: url('/img/abilities/dazzle_poison_touch.png'); }
.ability-5235 { background-image: url('/img/abilities/dazzle_shadow_wave.png'); }
.ability-5234 { background-image: url('/img/abilities/dazzle_shallow_grave.png'); }
.ability-5236 { background-image: url('/img/abilities/dazzle_weave.png'); }
.ability-5090 { background-image: url('/img/abilities/death_prophet_carrion_swarm.png'); }
.ability-5093 { background-image: url('/img/abilities/death_prophet_exorcism.png'); }
.ability-5091 { background-image: url('/img/abilities/death_prophet_silence.png'); }
.ability-5685 { background-image: url('/img/abilities/death_prophet_spirit_siphon.png'); }
.ability-5092 { background-image: url('/img/abilities/death_prophet_witchcraft.png'); }
.ability-5459 { background-image: url('/img/abilities/disruptor_glimpse.png'); }
.ability-5460 { background-image: url('/img/abilities/disruptor_kinetic_field.png'); }
.ability-5461 { background-image: url('/img/abilities/disruptor_static_storm.png'); }
.ability-5458 { background-image: url('/img/abilities/disruptor_thunder_strike.png'); }
.ability-5339 { background-image: url('/img/abilities/doom_bringer_devour.png'); }
.ability-5342 { background-image: url('/img/abilities/doom_bringer_doom.png'); }
.ability-5343 { background-image: url('/img/abilities/doom_bringer_empty1.png'); }
.ability-5344 { background-image: url('/img/abilities/doom_bringer_empty2.png'); }
.ability-5341 { background-image: url('/img/abilities/doom_bringer_infernal_blade.png'); }
.ability-5340 { background-image: url('/img/abilities/doom_bringer_scorched_earth.png'); }
.ability-5226 { background-image: url('/img/abilities/dragon_knight_breathe_fire.png'); }
.ability-5228 { background-image: url('/img/abilities/dragon_knight_dragon_blood.png'); }
.ability-5227 { background-image: url('/img/abilities/dragon_knight_dragon_tail.png'); }
.ability-5229 { background-image: url('/img/abilities/dragon_knight_elder_dragon_form.png'); }
.ability-5019 { background-image: url('/img/abilities/drow_ranger_frost_arrows.png'); }
.ability-5022 { background-image: url('/img/abilities/drow_ranger_marksmanship.png'); }
.ability-5020 { background-image: url('/img/abilities/drow_ranger_silence.png'); }
.ability-5021 { background-image: url('/img/abilities/drow_ranger_trueshot.png'); }
.ability-5632 { background-image: url('/img/abilities/drow_ranger_wave_of_silence.png'); }
.ability-5608 { background-image: url('/img/abilities/earth_spirit_boulder_smash.png'); }
.ability-5610 { background-image: url('/img/abilities/earth_spirit_geomagnetic_grip.png'); }
.ability-5612 { background-image: url('/img/abilities/earth_spirit_magnetize.png'); }
.ability-5648 { background-image: url('/img/abilities/earth_spirit_petrify.png'); }
.ability-5609 { background-image: url('/img/abilities/earth_spirit_rolling_boulder.png'); }
.ability-5611 { background-image: url('/img/abilities/earth_spirit_stone_caller.png'); }
.ability-5025 { background-image: url('/img/abilities/earthshaker_aftershock.png'); }
.ability-5026 { background-image: url('/img/abilities/earthshaker_echo_slam.png'); }
.ability-5024 { background-image: url('/img/abilities/earthshaker_enchant_totem.png'); }
.ability-5023 { background-image: url('/img/abilities/earthshaker_fissure.png'); }
.ability-5591 { background-image: url('/img/abilities/elder_titan_ancestral_spirit.png'); }
.ability-5594 { background-image: url('/img/abilities/elder_titan_earth_splitter.png'); }
.ability-5589 { background-image: url('/img/abilities/elder_titan_echo_stomp.png'); }
.ability-5590 { background-image: url('/img/abilities/elder_titan_echo_stomp_spirit.png'); }
.ability-5593 { background-image: url('/img/abilities/elder_titan_natural_order.png'); }
.ability-5750 { background-image: url('/img/abilities/elder_titan_natural_order_spirit.png'); }
.ability-5592 { background-image: url('/img/abilities/elder_titan_return_spirit.png'); }
.ability-5607 { background-image: url('/img/abilities/ember_spirit_activate_fire_remnant.png'); }
.ability-5606 { background-image: url('/img/abilities/ember_spirit_fire_remnant.png'); }
.ability-5605 { background-image: url('/img/abilities/ember_spirit_flame_guard.png'); }
.ability-5603 { background-image: url('/img/abilities/ember_spirit_searing_chains.png'); }
.ability-5604 { background-image: url('/img/abilities/ember_spirit_sleight_of_fist.png'); }
.ability-5268 { background-image: url('/img/abilities/enchantress_enchant.png'); }
.ability-5270 { background-image: url('/img/abilities/enchantress_impetus.png'); }
.ability-5269 { background-image: url('/img/abilities/enchantress_natures_attendants.png'); }
.ability-5267 { background-image: url('/img/abilities/enchantress_untouchable.png'); }
.ability-5149 { background-image: url('/img/abilities/enigma_black_hole.png'); }
.ability-5147 { background-image: url('/img/abilities/enigma_demonic_conversion.png'); }
.ability-5146 { background-image: url('/img/abilities/enigma_malefice.png'); }
.ability-5148 { background-image: url('/img/abilities/enigma_midnight_pulse.png'); }
.ability-5312 { background-image: url('/img/abilities/enraged_wildkin_tornado.png'); }
.ability-5313 { background-image: url('/img/abilities/enraged_wildkin_toughness_aura.png'); }
.ability-5183 { background-image: url('/img/abilities/faceless_void_backtrack.png'); }
.ability-5185 { background-image: url('/img/abilities/faceless_void_chronosphere.png'); }
.ability-5691 { background-image: url('/img/abilities/faceless_void_time_dilation.png'); }
.ability-5184 { background-image: url('/img/abilities/faceless_void_time_lock.png'); }
.ability-5182 { background-image: url('/img/abilities/faceless_void_time_walk.png'); }
.ability-6226 { background-image: url('/img/abilities/filler_ability.png'); }
.ability-5318 { background-image: url('/img/abilities/forest_troll_high_priest_heal.png'); }
.ability-5491 { background-image: url('/img/abilities/forest_troll_high_priest_mana_aura.png'); }
.ability-5388 { background-image: url('/img/abilities/forged_spirit_melting_strike.png'); }
.ability-5247 { background-image: url('/img/abilities/furion_force_of_nature.png'); }
.ability-5245 { background-image: url('/img/abilities/furion_sprout.png'); }
.ability-5246 { background-image: url('/img/abilities/furion_teleportation.png'); }
.ability-5248 { background-image: url('/img/abilities/furion_wrath_of_nature.png'); }
.ability-5301 { background-image: url('/img/abilities/ghost_frost_attack.png'); }
.ability-5307 { background-image: url('/img/abilities/giant_wolf_critical_strike.png'); }
.ability-5296 { background-image: url('/img/abilities/gnoll_assassin_envenomed_weapon.png'); }
.ability-5680 { background-image: url('/img/abilities/granite_golem_bash.png'); }
.ability-5656 { background-image: url('/img/abilities/granite_golem_hp_aura.png'); }
.ability-5569 { background-image: url('/img/abilities/greevil_black_hole.png'); }
.ability-5553 { background-image: url('/img/abilities/greevil_blade_fury.png'); }
.ability-5560 { background-image: url('/img/abilities/greevil_bloodlust.png'); }
.ability-5531 { background-image: url('/img/abilities/greevil_decrepify.png'); }
.ability-5558 { background-image: url('/img/abilities/greevil_echo_slam.png'); }
.ability-5552 { background-image: url('/img/abilities/greevil_fatal_bonds.png'); }
.ability-5562 { background-image: url('/img/abilities/greevil_flesh_golem.png'); }
.ability-5563 { background-image: url('/img/abilities/greevil_hook.png'); }
.ability-5547 { background-image: url('/img/abilities/greevil_ice_wall.png'); }
.ability-5535 { background-image: url('/img/abilities/greevil_laguna_blade.png'); }
.ability-5557 { background-image: url('/img/abilities/greevil_leech_seed.png'); }
.ability-5529 { background-image: url('/img/abilities/greevil_magic_missile.png'); }
.ability-5533 { background-image: url('/img/abilities/greevil_maledict.png'); }
.ability-5559 { background-image: url('/img/abilities/greevil_natures_attendants.png'); }
.ability-5554 { background-image: url('/img/abilities/greevil_phantom_strike.png'); }
.ability-5546 { background-image: url('/img/abilities/greevil_poison_nova.png'); }
.ability-5561 { background-image: url('/img/abilities/greevil_purification.png'); }
.ability-5564 { background-image: url('/img/abilities/greevil_rot.png'); }
.ability-5556 { background-image: url('/img/abilities/greevil_shadow_wave.png'); }
.ability-5555 { background-image: url('/img/abilities/greevil_time_lock.png'); }
.ability-5364 { background-image: url('/img/abilities/gyrocopter_call_down.png'); }
.ability-5363 { background-image: url('/img/abilities/gyrocopter_flak_cannon.png'); }
.ability-5362 { background-image: url('/img/abilities/gyrocopter_homing_missile.png'); }
.ability-5361 { background-image: url('/img/abilities/gyrocopter_rocket_barrage.png'); }
.ability-5319 { background-image: url('/img/abilities/harpy_storm_chain_lightning.png'); }
.ability-5273 { background-image: url('/img/abilities/huskar_berserkers_blood.png'); }
.ability-5272 { background-image: url('/img/abilities/huskar_burning_spear.png'); }
.ability-5271 { background-image: url('/img/abilities/huskar_inner_vitality.png'); }
.ability-5274 { background-image: url('/img/abilities/huskar_life_break.png'); }
.ability-5384 { background-image: url('/img/abilities/invoker_alacrity.png'); }
.ability-5385 { background-image: url('/img/abilities/invoker_chaos_meteor.png'); }
.ability-5376 { background-image: url('/img/abilities/invoker_cold_snap.png'); }
.ability-5390 { background-image: url('/img/abilities/invoker_deafening_blast.png'); }
.ability-5383 { background-image: url('/img/abilities/invoker_emp.png'); }
.ability-5373 { background-image: url('/img/abilities/invoker_empty1.png'); }
.ability-5374 { background-image: url('/img/abilities/invoker_empty2.png'); }
.ability-5372 { background-image: url('/img/abilities/invoker_exort.png'); }
.ability-5387 { background-image: url('/img/abilities/invoker_forge_spirit.png'); }
.ability-5381 { background-image: url('/img/abilities/invoker_ghost_walk.png'); }
.ability-5389 { background-image: url('/img/abilities/invoker_ice_wall.png'); }
.ability-5375 { background-image: url('/img/abilities/invoker_invoke.png'); }
.ability-5370 { background-image: url('/img/abilities/invoker_quas.png'); }
.ability-5386 { background-image: url('/img/abilities/invoker_sun_strike.png'); }
.ability-5382 { background-image: url('/img/abilities/invoker_tornado.png'); }
.ability-5371 { background-image: url('/img/abilities/invoker_wex.png'); }
.ability-5297 { background-image: url('/img/abilities/jakiro_dual_breath.png'); }
.ability-5298 { background-image: url('/img/abilities/jakiro_ice_path.png'); }
.ability-5299 { background-image: url('/img/abilities/jakiro_liquid_fire.png'); }
.ability-5300 { background-image: url('/img/abilities/jakiro_macropyre.png'); }
.ability-5027 { background-image: url('/img/abilities/juggernaut_blade_dance.png'); }
.ability-5028 { background-image: url('/img/abilities/juggernaut_blade_fury.png'); }
.ability-5029 { background-image: url('/img/abilities/juggernaut_healing_ward.png'); }
.ability-5030 { background-image: url('/img/abilities/juggernaut_omni_slash.png'); }
.ability-5476 { background-image: url('/img/abilities/keeper_of_the_light_blinding_light.png'); }
.ability-5473 { background-image: url('/img/abilities/keeper_of_the_light_chakra_magic.png'); }
.ability-5471 { background-image: url('/img/abilities/keeper_of_the_light_illuminate.png'); }
.ability-5477 { background-image: url('/img/abilities/keeper_of_the_light_illuminate_end.png'); }
.ability-5472 { background-image: url('/img/abilities/keeper_of_the_light_mana_leak.png'); }
.ability-5475 { background-image: url('/img/abilities/keeper_of_the_light_recall.png'); }
.ability-5474 { background-image: url('/img/abilities/keeper_of_the_light_spirit_form.png'); }
.ability-5479 { background-image: url('/img/abilities/keeper_of_the_light_spirit_form_illuminate.png'); }
.ability-5503 { background-image: url('/img/abilities/keeper_of_the_light_spirit_form_illuminate_end.png'); }
.ability-5293 { background-image: url('/img/abilities/kobold_taskmaster_speed_aura.png'); }
.ability-5035 { background-image: url('/img/abilities/kunkka_ghostship.png'); }
.ability-5034 { background-image: url('/img/abilities/kunkka_return.png'); }
.ability-5032 { background-image: url('/img/abilities/kunkka_tidebringer.png'); }
.ability-5031 { background-image: url('/img/abilities/kunkka_torrent.png'); }
.ability-5033 { background-image: url('/img/abilities/kunkka_x_marks_the_spot.png'); }
.ability-5598 { background-image: url('/img/abilities/legion_commander_duel.png'); }
.ability-5597 { background-image: url('/img/abilities/legion_commander_moment_of_courage.png'); }
.ability-5595 { background-image: url('/img/abilities/legion_commander_overwhelming_odds.png'); }
.ability-5596 { background-image: url('/img/abilities/legion_commander_press_the_attack.png'); }
.ability-5242 { background-image: url('/img/abilities/leshrac_diabolic_edict.png'); }
.ability-5243 { background-image: url('/img/abilities/leshrac_lightning_storm.png'); }
.ability-5244 { background-image: url('/img/abilities/leshrac_pulse_nova.png'); }
.ability-5241 { background-image: url('/img/abilities/leshrac_split_earth.png'); }
.ability-5137 { background-image: url('/img/abilities/lich_chain_frost.png'); }
.ability-5136 { background-image: url('/img/abilities/lich_dark_ritual.png'); }
.ability-5135 { background-image: url('/img/abilities/lich_frost_armor.png'); }
.ability-5134 { background-image: url('/img/abilities/lich_frost_nova.png'); }
.ability-5671 { background-image: url('/img/abilities/life_stealer_assimilate.png'); }
.ability-5675 { background-image: url('/img/abilities/life_stealer_assimilate_eject.png'); }
.ability-5253 { background-image: url('/img/abilities/life_stealer_consume.png'); }
.ability-5655 { background-image: url('/img/abilities/life_stealer_control.png'); }
.ability-5657 { background-image: url('/img/abilities/life_stealer_empty_1.png'); }
.ability-5658 { background-image: url('/img/abilities/life_stealer_empty_2.png'); }
.ability-5659 { background-image: url('/img/abilities/life_stealer_empty_3.png'); }
.ability-5660 { background-image: url('/img/abilities/life_stealer_empty_4.png'); }
.ability-5250 { background-image: url('/img/abilities/life_stealer_feast.png'); }
.ability-5252 { background-image: url('/img/abilities/life_stealer_infest.png'); }
.ability-5251 { background-image: url('/img/abilities/life_stealer_open_wounds.png'); }
.ability-5249 { background-image: url('/img/abilities/life_stealer_rage.png'); }
.ability-5040 { background-image: url('/img/abilities/lina_dragon_slave.png'); }
.ability-5042 { background-image: url('/img/abilities/lina_fiery_soul.png'); }
.ability-5043 { background-image: url('/img/abilities/lina_laguna_blade.png'); }
.ability-5041 { background-image: url('/img/abilities/lina_light_strike_array.png'); }
.ability-5047 { background-image: url('/img/abilities/lion_finger_of_death.png'); }
.ability-5044 { background-image: url('/img/abilities/lion_impale.png'); }
.ability-5046 { background-image: url('/img/abilities/lion_mana_drain.png'); }
.ability-5045 { background-image: url('/img/abilities/lion_voodoo.png'); }
.ability-5413 { background-image: url('/img/abilities/lone_druid_rabid.png'); }
.ability-5414 { background-image: url('/img/abilities/lone_druid_savage_roar.png'); }
.ability-5687 { background-image: url('/img/abilities/lone_druid_savage_roar_bear.png'); }
.ability-5412 { background-image: url('/img/abilities/lone_druid_spirit_bear.png'); }
.ability-5420 { background-image: url('/img/abilities/lone_druid_spirit_bear_demolish.png'); }
.ability-5419 { background-image: url('/img/abilities/lone_druid_spirit_bear_entangle.png'); }
.ability-5418 { background-image: url('/img/abilities/lone_druid_spirit_bear_return.png'); }
.ability-5415 { background-image: url('/img/abilities/lone_druid_true_form.png'); }
.ability-5417 { background-image: url('/img/abilities/lone_druid_true_form_battle_cry.png'); }
.ability-5416 { background-image: url('/img/abilities/lone_druid_true_form_druid.png'); }
.ability-5225 { background-image: url('/img/abilities/luna_eclipse.png'); }
.ability-5222 { background-image: url('/img/abilities/luna_lucent_beam.png'); }
.ability-5224 { background-image: url('/img/abilities/luna_lunar_blessing.png'); }
.ability-5223 { background-image: url('/img/abilities/luna_moon_glaive.png'); }
.ability-5397 { background-image: url('/img/abilities/lycan_feral_impulse.png'); }
.ability-5396 { background-image: url('/img/abilities/lycan_howl.png'); }
.ability-5398 { background-image: url('/img/abilities/lycan_shapeshift.png'); }
.ability-5395 { background-image: url('/img/abilities/lycan_summon_wolves.png'); }
.ability-5399 { background-image: url('/img/abilities/lycan_summon_wolves_critical_strike.png'); }
.ability-5500 { background-image: url('/img/abilities/lycan_summon_wolves_invisibility.png'); }
.ability-5519 { background-image: url('/img/abilities/magnataur_empower.png'); }
.ability-5521 { background-image: url('/img/abilities/magnataur_reverse_polarity.png'); }
.ability-5518 { background-image: url('/img/abilities/magnataur_shockwave.png'); }
.ability-5520 { background-image: url('/img/abilities/magnataur_skewer.png'); }
.ability-5506 { background-image: url('/img/abilities/medusa_mana_shield.png'); }
.ability-5505 { background-image: url('/img/abilities/medusa_mystic_snake.png'); }
.ability-5504 { background-image: url('/img/abilities/medusa_split_shot.png'); }
.ability-5507 { background-image: url('/img/abilities/medusa_stone_gaze.png'); }
.ability-5433 { background-image: url('/img/abilities/meepo_divided_we_stand.png'); }
.ability-5430 { background-image: url('/img/abilities/meepo_earthbind.png'); }
.ability-5432 { background-image: url('/img/abilities/meepo_geostrike.png'); }
.ability-5431 { background-image: url('/img/abilities/meepo_poof.png'); }
.ability-5048 { background-image: url('/img/abilities/mirana_arrow.png'); }
.ability-5049 { background-image: url('/img/abilities/mirana_invis.png'); }
.ability-5050 { background-image: url('/img/abilities/mirana_leap.png'); }
.ability-5051 { background-image: url('/img/abilities/mirana_starfall.png'); }
.ability-5716 { background-image: url('/img/abilities/monkey_king_boundless_strike.png'); }
.ability-5723 { background-image: url('/img/abilities/monkey_king_jingu_mastery.png'); }
.ability-5719 { background-image: url('/img/abilities/monkey_king_mischief.png'); }
.ability-5724 { background-image: url('/img/abilities/monkey_king_primal_spring.png'); }
.ability-5721 { background-image: url('/img/abilities/monkey_king_tree_dance.png'); }
.ability-5722 { background-image: url('/img/abilities/monkey_king_untransform.png'); }
.ability-5725 { background-image: url('/img/abilities/monkey_king_wukongs_command.png'); }
.ability-5053 { background-image: url('/img/abilities/morphling_adaptive_strike.png'); }
.ability-5674 { background-image: url('/img/abilities/morphling_hybrid.png'); }
.ability-5055 { background-image: url('/img/abilities/morphling_morph_agi.png'); }
.ability-5058 { background-image: url('/img/abilities/morphling_morph_replicate.png'); }
.ability-5056 { background-image: url('/img/abilities/morphling_morph_str.png'); }
.ability-5057 { background-image: url('/img/abilities/morphling_replicate.png'); }
.ability-5052 { background-image: url('/img/abilities/morphling_waveform.png'); }
.ability-5670 { background-image: url('/img/abilities/mud_golem_hurl_boulder.png'); }
.ability-5667 { background-image: url('/img/abilities/mud_golem_rock_destroy.png'); }
.ability-5688 { background-image: url('/img/abilities/mudgolem_cloak_aura.png'); }
.ability-5468 { background-image: url('/img/abilities/naga_siren_ensnare.png'); }
.ability-5467 { background-image: url('/img/abilities/naga_siren_mirror_image.png'); }
.ability-5469 { background-image: url('/img/abilities/naga_siren_rip_tide.png'); }
.ability-5470 { background-image: url('/img/abilities/naga_siren_song_of_the_siren.png'); }
.ability-5478 { background-image: url('/img/abilities/naga_siren_song_of_the_siren_cancel.png'); }
.ability-5158 { background-image: url('/img/abilities/necrolyte_death_pulse.png'); }
.ability-5159 { background-image: url('/img/abilities/necrolyte_heartstopper_aura.png'); }
.ability-5161 { background-image: url('/img/abilities/necrolyte_reapers_scythe.png'); }
.ability-5160 { background-image: url('/img/abilities/necrolyte_sadist.png'); }
.ability-5204 { background-image: url('/img/abilities/necronomicon_archer_aoe.png'); }
.ability-5203 { background-image: url('/img/abilities/necronomicon_archer_mana_burn.png'); }
.ability-5200 { background-image: url('/img/abilities/necronomicon_warrior_last_will.png'); }
.ability-5202 { background-image: url('/img/abilities/necronomicon_warrior_mana_burn.png'); }
.ability-5201 { background-image: url('/img/abilities/necronomicon_warrior_sight.png'); }
.ability-5303 { background-image: url('/img/abilities/neutral_spell_immunity.png'); }
.ability-5063 { background-image: url('/img/abilities/nevermore_dark_lord.png'); }
.ability-5062 { background-image: url('/img/abilities/nevermore_necromastery.png'); }
.ability-5064 { background-image: url('/img/abilities/nevermore_requiem.png'); }
.ability-5059 { background-image: url('/img/abilities/nevermore_shadowraze1.png'); }
.ability-5060 { background-image: url('/img/abilities/nevermore_shadowraze2.png'); }
.ability-5061 { background-image: url('/img/abilities/nevermore_shadowraze3.png'); }
.ability-5276 { background-image: url('/img/abilities/night_stalker_crippling_fear.png'); }
.ability-5278 { background-image: url('/img/abilities/night_stalker_darkness.png'); }
.ability-5277 { background-image: url('/img/abilities/night_stalker_hunter_in_the_night.png'); }
.ability-5275 { background-image: url('/img/abilities/night_stalker_void.png'); }
.ability-5666 { background-image: url('/img/abilities/nyx_assassin_burrow.png'); }
.ability-5462 { background-image: url('/img/abilities/nyx_assassin_impale.png'); }
.ability-5463 { background-image: url('/img/abilities/nyx_assassin_mana_burn.png'); }
.ability-5464 { background-image: url('/img/abilities/nyx_assassin_spiked_carapace.png'); }
.ability-5673 { background-image: url('/img/abilities/nyx_assassin_unburrow.png'); }
.ability-5465 { background-image: url('/img/abilities/nyx_assassin_vendetta.png'); }
.ability-5391 { background-image: url('/img/abilities/obsidian_destroyer_arcane_orb.png'); }
.ability-5392 { background-image: url('/img/abilities/obsidian_destroyer_astral_imprisonment.png'); }
.ability-5393 { background-image: url('/img/abilities/obsidian_destroyer_essence_aura.png'); }
.ability-5394 { background-image: url('/img/abilities/obsidian_destroyer_sanity_eclipse.png'); }
.ability-5440 { background-image: url('/img/abilities/ogre_magi_bloodlust.png'); }
.ability-5438 { background-image: url('/img/abilities/ogre_magi_fireblast.png'); }
.ability-5304 { background-image: url('/img/abilities/ogre_magi_frost_armor.png'); }
.ability-5439 { background-image: url('/img/abilities/ogre_magi_ignite.png'); }
.ability-5441 { background-image: url('/img/abilities/ogre_magi_multicast.png'); }
.ability-5466 { background-image: url('/img/abilities/ogre_magi_unrefined_fireblast.png'); }
.ability-5265 { background-image: url('/img/abilities/omniknight_degen_aura.png'); }
.ability-5266 { background-image: url('/img/abilities/omniknight_guardian_angel.png'); }
.ability-5263 { background-image: url('/img/abilities/omniknight_purification.png'); }
.ability-5264 { background-image: url('/img/abilities/omniknight_repel.png'); }
.ability-5640 { background-image: url('/img/abilities/oracle_false_promise.png'); }
.ability-5638 { background-image: url('/img/abilities/oracle_fates_edict.png'); }
.ability-5637 { background-image: url('/img/abilities/oracle_fortunes_end.png'); }
.ability-5639 { background-image: url('/img/abilities/oracle_purifying_flames.png'); }
.ability-5192 { background-image: url('/img/abilities/phantom_assassin_blur.png'); }
.ability-5193 { background-image: url('/img/abilities/phantom_assassin_coup_de_grace.png'); }
.ability-5191 { background-image: url('/img/abilities/phantom_assassin_phantom_strike.png'); }
.ability-5190 { background-image: url('/img/abilities/phantom_assassin_stifling_dagger.png'); }
.ability-5066 { background-image: url('/img/abilities/phantom_lancer_doppelwalk.png'); }
.ability-5067 { background-image: url('/img/abilities/phantom_lancer_juxtapose.png'); }
.ability-5068 { background-image: url('/img/abilities/phantom_lancer_phantom_edge.png'); }
.ability-5065 { background-image: url('/img/abilities/phantom_lancer_spirit_lance.png'); }
.ability-5625 { background-image: url('/img/abilities/phoenix_fire_spirits.png'); }
.ability-5623 { background-image: url('/img/abilities/phoenix_icarus_dive.png'); }
.ability-5624 { background-image: url('/img/abilities/phoenix_icarus_dive_stop.png'); }
.ability-5631 { background-image: url('/img/abilities/phoenix_launch_fire_spirit.png'); }
.ability-5626 { background-image: url('/img/abilities/phoenix_sun_ray.png'); }
.ability-5627 { background-image: url('/img/abilities/phoenix_sun_ray_stop.png'); }
.ability-5628 { background-image: url('/img/abilities/phoenix_sun_ray_toggle_move.png'); }
.ability-5629 { background-image: url('/img/abilities/phoenix_sun_ray_toggle_move_empty.png'); }
.ability-5630 { background-image: url('/img/abilities/phoenix_supernova.png'); }
.ability-5302 { background-image: url('/img/abilities/polar_furbolg_ursa_warrior_thunder_clap.png'); }
.ability-5073 { background-image: url('/img/abilities/puck_dream_coil.png'); }
.ability-5070 { background-image: url('/img/abilities/puck_ethereal_jaunt.png'); }
.ability-5069 { background-image: url('/img/abilities/puck_illusory_orb.png'); }
.ability-5072 { background-image: url('/img/abilities/puck_phase_shift.png'); }
.ability-5071 { background-image: url('/img/abilities/puck_waning_rift.png'); }
.ability-5077 { background-image: url('/img/abilities/pudge_dismember.png'); }
.ability-5074 { background-image: url('/img/abilities/pudge_flesh_heap.png'); }
.ability-5075 { background-image: url('/img/abilities/pudge_meat_hook.png'); }
.ability-5076 { background-image: url('/img/abilities/pudge_rot.png'); }
.ability-5187 { background-image: url('/img/abilities/pugna_decrepify.png'); }
.ability-5189 { background-image: url('/img/abilities/pugna_life_drain.png'); }
.ability-5186 { background-image: url('/img/abilities/pugna_nether_blast.png'); }
.ability-5188 { background-image: url('/img/abilities/pugna_nether_ward.png'); }
.ability-5174 { background-image: url('/img/abilities/queenofpain_blink.png'); }
.ability-5175 { background-image: url('/img/abilities/queenofpain_scream_of_pain.png'); }
.ability-5173 { background-image: url('/img/abilities/queenofpain_shadow_strike.png'); }
.ability-5176 { background-image: url('/img/abilities/queenofpain_sonic_wave.png'); }
.ability-5237 { background-image: url('/img/abilities/rattletrap_battery_assault.png'); }
.ability-5240 { background-image: url('/img/abilities/rattletrap_hookshot.png'); }
.ability-5238 { background-image: url('/img/abilities/rattletrap_power_cogs.png'); }
.ability-5239 { background-image: url('/img/abilities/rattletrap_rocket_flare.png'); }
.ability-5085 { background-image: url('/img/abilities/razor_eye_of_the_storm.png'); }
.ability-5082 { background-image: url('/img/abilities/razor_plasma_field.png'); }
.ability-5083 { background-image: url('/img/abilities/razor_static_link.png'); }
.ability-5084 { background-image: url('/img/abilities/razor_unstable_current.png'); }
.ability-5143 { background-image: url('/img/abilities/riki_blink_strike.png'); }
.ability-5144 { background-image: url('/img/abilities/riki_permanent_invisibility.png'); }
.ability-5142 { background-image: url('/img/abilities/riki_smoke_screen.png'); }
.ability-5145 { background-image: url('/img/abilities/riki_tricks_of_the_trade.png'); }
.ability-5214 { background-image: url('/img/abilities/roshan_bash.png'); }
.ability-9991 { background-image: url('/img/abilities/roshan_halloween_angry.png'); }
.ability-9998 { background-image: url('/img/abilities/roshan_halloween_apocalypse.png'); }
.ability-9990 { background-image: url('/img/abilities/roshan_halloween_candy.png'); }
.ability-10000 { background-image: url('/img/abilities/roshan_halloween_levels.png'); }
.ability-9995 { background-image: url('/img/abilities/roshan_halloween_toss.png'); }
.ability-9993 { background-image: url('/img/abilities/roshan_halloween_wave_of_force.png'); }
.ability-5215 { background-image: url('/img/abilities/roshan_slam.png'); }
.ability-5213 { background-image: url('/img/abilities/roshan_spell_block.png'); }
.ability-5453 { background-image: url('/img/abilities/rubick_empty1.png'); }
.ability-5454 { background-image: url('/img/abilities/rubick_empty2.png'); }
.ability-5450 { background-image: url('/img/abilities/rubick_fade_bolt.png'); }
.ability-5451 { background-image: url('/img/abilities/rubick_null_field.png'); }
.ability-5452 { background-image: url('/img/abilities/rubick_spell_steal.png'); }
.ability-5448 { background-image: url('/img/abilities/rubick_telekinesis.png'); }
.ability-5449 { background-image: url('/img/abilities/rubick_telekinesis_land.png'); }
.ability-5102 { background-image: url('/img/abilities/sandking_burrowstrike.png'); }
.ability-5104 { background-image: url('/img/abilities/sandking_caustic_finale.png'); }
.ability-5105 { background-image: url('/img/abilities/sandking_epicenter.png'); }
.ability-5103 { background-image: url('/img/abilities/sandking_sand_storm.png'); }
.ability-5316 { background-image: url('/img/abilities/satyr_hellcaller_shockwave.png'); }
.ability-5317 { background-image: url('/img/abilities/satyr_hellcaller_unholy_aura.png'); }
.ability-5315 { background-image: url('/img/abilities/satyr_soulstealer_mana_burn.png'); }
.ability-5314 { background-image: url('/img/abilities/satyr_trickster_purge.png'); }
.ability-5425 { background-image: url('/img/abilities/shadow_demon_demonic_purge.png'); }
.ability-5421 { background-image: url('/img/abilities/shadow_demon_disruption.png'); }
.ability-5423 { background-image: url('/img/abilities/shadow_demon_shadow_poison.png'); }
.ability-5424 { background-image: url('/img/abilities/shadow_demon_shadow_poison_release.png'); }
.ability-5422 { background-image: url('/img/abilities/shadow_demon_soul_catcher.png'); }
.ability-5078 { background-image: url('/img/abilities/shadow_shaman_ether_shock.png'); }
.ability-5081 { background-image: url('/img/abilities/shadow_shaman_mass_serpent_ward.png'); }
.ability-5080 { background-image: url('/img/abilities/shadow_shaman_shackles.png'); }
.ability-5079 { background-image: url('/img/abilities/shadow_shaman_voodoo.png'); }
.ability-5527 { background-image: url('/img/abilities/shredder_chakram.png'); }
.ability-5645 { background-image: url('/img/abilities/shredder_chakram_2.png'); }
.ability-5526 { background-image: url('/img/abilities/shredder_reactive_armor.png'); }
.ability-5528 { background-image: url('/img/abilities/shredder_return_chakram.png'); }
.ability-5646 { background-image: url('/img/abilities/shredder_return_chakram_2.png'); }
.ability-5525 { background-image: url('/img/abilities/shredder_timber_chain.png'); }
.ability-5524 { background-image: url('/img/abilities/shredder_whirling_death.png'); }
.ability-5377 { background-image: url('/img/abilities/silencer_curse_of_the_silent.png'); }
.ability-5378 { background-image: url('/img/abilities/silencer_glaives_of_wisdom.png'); }
.ability-5380 { background-image: url('/img/abilities/silencer_global_silence.png'); }
.ability-5379 { background-image: url('/img/abilities/silencer_last_word.png'); }
.ability-5086 { background-image: url('/img/abilities/skeleton_king_hellfire_blast.png'); }
.ability-5088 { background-image: url('/img/abilities/skeleton_king_mortal_strike.png'); }
.ability-5089 { background-image: url('/img/abilities/skeleton_king_reincarnation.png'); }
.ability-5087 { background-image: url('/img/abilities/skeleton_king_vampiric_aura.png'); }
.ability-5583 { background-image: url('/img/abilities/skywrath_mage_ancient_seal.png'); }
.ability-5581 { background-image: url('/img/abilities/skywrath_mage_arcane_bolt.png'); }
.ability-5582 { background-image: url('/img/abilities/skywrath_mage_concussive_shot.png'); }
.ability-5584 { background-image: url('/img/abilities/skywrath_mage_mystic_flare.png'); }
.ability-5117 { background-image: url('/img/abilities/slardar_amplify_damage.png'); }
.ability-5116 { background-image: url('/img/abilities/slardar_bash.png'); }
.ability-5115 { background-image: url('/img/abilities/slardar_slithereen_crush.png'); }
.ability-5114 { background-image: url('/img/abilities/slardar_sprint.png'); }
.ability-5494 { background-image: url('/img/abilities/slark_dark_pact.png'); }
.ability-5496 { background-image: url('/img/abilities/slark_essence_shift.png'); }
.ability-5495 { background-image: url('/img/abilities/slark_pounce.png'); }
.ability-5497 { background-image: url('/img/abilities/slark_shadow_dance.png'); }
.ability-5157 { background-image: url('/img/abilities/sniper_assassinate.png'); }
.ability-5155 { background-image: url('/img/abilities/sniper_headshot.png'); }
.ability-5154 { background-image: url('/img/abilities/sniper_shrapnel.png'); }
.ability-5156 { background-image: url('/img/abilities/sniper_take_aim.png'); }
.ability-6125 { background-image: url('/img/abilities/spawnlord_aura.png'); }
.ability-6278 { background-image: url('/img/abilities/spawnlord_master_freeze.png'); }
.ability-6270 { background-image: url('/img/abilities/spawnlord_master_stomp.png'); }
.ability-5335 { background-image: url('/img/abilities/spectre_desolate.png'); }
.ability-5336 { background-image: url('/img/abilities/spectre_dispersion.png'); }
.ability-5337 { background-image: url('/img/abilities/spectre_haunt.png'); }
.ability-5338 { background-image: url('/img/abilities/spectre_reality.png'); }
.ability-5334 { background-image: url('/img/abilities/spectre_spectral_dagger.png'); }
.ability-5353 { background-image: url('/img/abilities/spirit_breaker_charge_of_darkness.png'); }
.ability-5354 { background-image: url('/img/abilities/spirit_breaker_empowering_haste.png'); }
.ability-5355 { background-image: url('/img/abilities/spirit_breaker_greater_bash.png'); }
.ability-5356 { background-image: url('/img/abilities/spirit_breaker_nether_strike.png'); }
.ability-5101 { background-image: url('/img/abilities/storm_spirit_ball_lightning.png'); }
.ability-5099 { background-image: url('/img/abilities/storm_spirit_electric_vortex.png'); }
.ability-5100 { background-image: url('/img/abilities/storm_spirit_overload.png'); }
.ability-5098 { background-image: url('/img/abilities/storm_spirit_static_remnant.png'); }
.ability-5097 { background-image: url('/img/abilities/sven_gods_strength.png'); }
.ability-5095 { background-image: url('/img/abilities/sven_great_cleave.png'); }
.ability-5094 { background-image: url('/img/abilities/sven_storm_bolt.png'); }
.ability-5096 { background-image: url('/img/abilities/sven_warcry.png'); }
.ability-5635 { background-image: url('/img/abilities/techies_focused_detonate.png'); }
.ability-5599 { background-image: url('/img/abilities/techies_land_mines.png'); }
.ability-5644 { background-image: url('/img/abilities/techies_minefield_sign.png'); }
.ability-5602 { background-image: url('/img/abilities/techies_remote_mines.png'); }
.ability-5636 { background-image: url('/img/abilities/techies_remote_mines_self_detonate.png'); }
.ability-5600 { background-image: url('/img/abilities/techies_stasis_trap.png'); }
.ability-5601 { background-image: url('/img/abilities/techies_suicide.png'); }
.ability-5195 { background-image: url('/img/abilities/templar_assassin_meld.png'); }
.ability-5196 { background-image: url('/img/abilities/templar_assassin_psi_blades.png'); }
.ability-5197 { background-image: url('/img/abilities/templar_assassin_psionic_trap.png'); }
.ability-5194 { background-image: url('/img/abilities/templar_assassin_refraction.png'); }
.ability-5199 { background-image: url('/img/abilities/templar_assassin_self_trap.png'); }
.ability-5198 { background-image: url('/img/abilities/templar_assassin_trap.png'); }
.ability-5620 { background-image: url('/img/abilities/terrorblade_conjure_image.png'); }
.ability-5621 { background-image: url('/img/abilities/terrorblade_metamorphosis.png'); }
.ability-5619 { background-image: url('/img/abilities/terrorblade_reflection.png'); }
.ability-5622 { background-image: url('/img/abilities/terrorblade_sunder.png'); }
.ability-5120 { background-image: url('/img/abilities/tidehunter_anchor_smash.png'); }
.ability-5118 { background-image: url('/img/abilities/tidehunter_gush.png'); }
.ability-5119 { background-image: url('/img/abilities/tidehunter_kraken_shell.png'); }
.ability-5121 { background-image: url('/img/abilities/tidehunter_ravage.png'); }
.ability-5151 { background-image: url('/img/abilities/tinker_heat_seeking_missile.png'); }
.ability-5150 { background-image: url('/img/abilities/tinker_laser.png'); }
.ability-5152 { background-image: url('/img/abilities/tinker_march_of_the_machines.png'); }
.ability-5153 { background-image: url('/img/abilities/tinker_rearm.png'); }
.ability-5106 { background-image: url('/img/abilities/tiny_avalanche.png'); }
.ability-5108 { background-image: url('/img/abilities/tiny_craggy_exterior.png'); }
.ability-5109 { background-image: url('/img/abilities/tiny_grow.png'); }
.ability-5107 { background-image: url('/img/abilities/tiny_toss.png'); }
.ability-5310 { background-image: url('/img/abilities/tornado_tempest.png'); }
.ability-5649 { background-image: url('/img/abilities/treant_eyes_in_the_forest.png'); }
.ability-5435 { background-image: url('/img/abilities/treant_leech_seed.png'); }
.ability-5436 { background-image: url('/img/abilities/treant_living_armor.png'); }
.ability-5434 { background-image: url('/img/abilities/treant_natures_guise.png'); }
.ability-5437 { background-image: url('/img/abilities/treant_overgrowth.png'); }
.ability-5512 { background-image: url('/img/abilities/troll_warlord_battle_trance.png'); }
.ability-5508 { background-image: url('/img/abilities/troll_warlord_berserkers_rage.png'); }
.ability-5511 { background-image: url('/img/abilities/troll_warlord_fervor.png'); }
.ability-5510 { background-image: url('/img/abilities/troll_warlord_whirling_axes_melee.png'); }
.ability-5509 { background-image: url('/img/abilities/troll_warlord_whirling_axes_ranged.png'); }
.ability-5567 { background-image: url('/img/abilities/tusk_frozen_sigil.png'); }
.ability-5565 { background-image: url('/img/abilities/tusk_ice_shards.png'); }
.ability-5566 { background-image: url('/img/abilities/tusk_snowball.png'); }
.ability-5672 { background-image: url('/img/abilities/tusk_walrus_kick.png'); }
.ability-5568 { background-image: url('/img/abilities/tusk_walrus_punch.png'); }
.ability-5442 { background-image: url('/img/abilities/undying_decay.png'); }
.ability-5447 { background-image: url('/img/abilities/undying_flesh_golem.png'); }
.ability-5443 { background-image: url('/img/abilities/undying_soul_rip.png'); }
.ability-5444 { background-image: url('/img/abilities/undying_tombstone.png'); }
.ability-5446 { background-image: url('/img/abilities/undying_tombstone_zombie_deathstrike.png'); }
.ability-5357 { background-image: url('/img/abilities/ursa_earthshock.png'); }
.ability-5360 { background-image: url('/img/abilities/ursa_enrage.png'); }
.ability-5359 { background-image: url('/img/abilities/ursa_fury_swipes.png'); }
.ability-5358 { background-image: url('/img/abilities/ursa_overpower.png'); }
.ability-5123 { background-image: url('/img/abilities/vengefulspirit_command_aura.png'); }
.ability-5122 { background-image: url('/img/abilities/vengefulspirit_magic_missile.png'); }
.ability-5125 { background-image: url('/img/abilities/vengefulspirit_nether_swap.png'); }
.ability-5124 { background-image: url('/img/abilities/vengefulspirit_wave_of_terror.png'); }
.ability-5180 { background-image: url('/img/abilities/venomancer_plague_ward.png'); }
.ability-5181 { background-image: url('/img/abilities/venomancer_poison_nova.png'); }
.ability-5179 { background-image: url('/img/abilities/venomancer_poison_sting.png'); }
.ability-5178 { background-image: url('/img/abilities/venomancer_venomous_gale.png'); }
.ability-5220 { background-image: url('/img/abilities/viper_corrosive_skin.png'); }
.ability-5219 { background-image: url('/img/abilities/viper_nethertoxin.png'); }
.ability-5218 { background-image: url('/img/abilities/viper_poison_attack.png'); }
.ability-5221 { background-image: url('/img/abilities/viper_viper_strike.png'); }
.ability-5480 { background-image: url('/img/abilities/visage_grave_chill.png'); }
.ability-5482 { background-image: url('/img/abilities/visage_gravekeepers_cloak.png'); }
.ability-5481 { background-image: url('/img/abilities/visage_soul_assumption.png'); }
.ability-5483 { background-image: url('/img/abilities/visage_summon_familiars.png'); }
.ability-5484 { background-image: url('/img/abilities/visage_summon_familiars_stone_form.png'); }
.ability-5162 { background-image: url('/img/abilities/warlock_fatal_bonds.png'); }
.ability-5166 { background-image: url('/img/abilities/warlock_golem_flaming_fists.png'); }
.ability-5167 { background-image: url('/img/abilities/warlock_golem_permanent_immolation.png'); }
.ability-5165 { background-image: url('/img/abilities/warlock_rain_of_chaos.png'); }
.ability-5163 { background-image: url('/img/abilities/warlock_shadow_word.png'); }
.ability-5164 { background-image: url('/img/abilities/warlock_upheaval.png'); }
.ability-5291 { background-image: url('/img/abilities/weaver_geminate_attack.png'); }
.ability-5290 { background-image: url('/img/abilities/weaver_shukuchi.png'); }
.ability-5289 { background-image: url('/img/abilities/weaver_the_swarm.png'); }
.ability-5292 { background-image: url('/img/abilities/weaver_time_lapse.png'); }
.ability-5133 { background-image: url('/img/abilities/windrunner_focusfire.png'); }
.ability-5131 { background-image: url('/img/abilities/windrunner_powershot.png'); }
.ability-5130 { background-image: url('/img/abilities/windrunner_shackleshot.png'); }
.ability-5132 { background-image: url('/img/abilities/windrunner_windrun.png'); }
.ability-5651 { background-image: url('/img/abilities/winter_wyvern_arctic_burn.png'); }
.ability-5653 { background-image: url('/img/abilities/winter_wyvern_cold_embrace.png'); }
.ability-5652 { background-image: url('/img/abilities/winter_wyvern_splinter_blast.png'); }
.ability-5654 { background-image: url('/img/abilities/winter_wyvern_winters_curse.png'); }
.ability-5498 { background-image: url('/img/abilities/wisp_empty1.png'); }
.ability-5499 { background-image: url('/img/abilities/wisp_empty2.png'); }
.ability-5487 { background-image: url('/img/abilities/wisp_overcharge.png'); }
.ability-5488 { background-image: url('/img/abilities/wisp_relocate.png'); }
.ability-5486 { background-image: url('/img/abilities/wisp_spirits.png'); }
.ability-5490 { background-image: url('/img/abilities/wisp_spirits_in.png'); }
.ability-5493 { background-image: url('/img/abilities/wisp_spirits_out.png'); }
.ability-5485 { background-image: url('/img/abilities/wisp_tether.png'); }
.ability-5489 { background-image: url('/img/abilities/wisp_tether_break.png'); }
.ability-5141 { background-image: url('/img/abilities/witch_doctor_death_ward.png'); }
.ability-5140 { background-image: url('/img/abilities/witch_doctor_maledict.png'); }
.ability-5138 { background-image: url('/img/abilities/witch_doctor_paralyzing_cask.png'); }
.ability-5139 { background-image: url('/img/abilities/witch_doctor_voodoo_restoration.png'); }
.ability-5110 { background-image: url('/img/abilities/zuus_arc_lightning.png'); }
.ability-6325 { background-image: url('/img/abilities/zuus_cloud.png'); }
.ability-5111 { background-image: url('/img/abilities/zuus_lightning_bolt.png'); }
.ability-5112 { background-image: url('/img/abilities/zuus_static_field.png'); }
.ability-5113 { background-image: url('/img/abilities/zuus_thundergods_wrath.png'); }
