.hero-small {
	background-image: url('../img/heroes.png');
	width: 47px;
	height: 27px;
	background-repeat: no-repeat;
}

.hero-102-small {
	background-position: 0 0px;
}

.hero-73-small {
	background-position: 0 -27px;
}

.hero-68-small {
	background-position: 0 -54px;
}

.hero-1-small {
	background-position: 0 -81px;
}

.hero-113-small {
	background-position: 0 -108px;
}

.hero-2-small {
	background-position: 0 -135px;
}

.hero-3-small {
	background-position: 0 -162px;
}

.hero-65-small {
	background-position: 0 -189px;
}

.hero-38-small {
	background-position: 0 -216px;
}

.hero-4-small {
	background-position: 0 -243px;
}

.hero-62-small {
	background-position: 0 -270px;
}

.hero-78-small {
	background-position: 0 -297px;
}

.hero-99-small {
	background-position: 0 -324px;
}

.hero-61-small {
	background-position: 0 -351px;
}

.hero-96-small {
	background-position: 0 -378px;
}

.hero-81-small {
	background-position: 0 -405px;
}

.hero-66-small {
	background-position: 0 -432px;
}

.hero-56-small {
	background-position: 0 -459px;
}

.hero-5-small {
	background-position: 0 -486px;
}

.hero-55-small {
	background-position: 0 -513px;
}

.hero-50-small {
	background-position: 0 -540px;
}

.hero-43-small {
	background-position: 0 -567px;
}

.hero-87-small {
	background-position: 0 -594px;
}

.hero-69-small {
	background-position: 0 -621px;
}

.hero-49-small {
	background-position: 0 -648px;
}

.hero-6-small {
	background-position: 0 -675px;
}

.hero-107-small {
	background-position: 0 -702px;
}

.hero-7-small {
	background-position: 0 -729px;
}

.hero-103-small {
	background-position: 0 -756px;
}

.hero-106-small {
	background-position: 0 -783px;
}

.hero-58-small {
	background-position: 0 -810px;
}

.hero-33-small {
	background-position: 0 -837px;
}

.hero-41-small {
	background-position: 0 -864px;
}

.hero-53-small {
	background-position: 0 -891px;
}

.hero-72-small {
	background-position: 0 -918px;
}

.hero-59-small {
	background-position: 0 -945px;
}

.hero-74-small {
	background-position: 0 -972px;
}

.hero-64-small {
	background-position: 0 -999px;
}

.hero-8-small {
	background-position: 0 -1026px;
}

.hero-90-small {
	background-position: 0 -1053px;
}

.hero-23-small {
	background-position: 0 -1080px;
}

.hero-104-small {
	background-position: 0 -1107px;
}

.hero-52-small {
	background-position: 0 -1134px;
}

.hero-31-small {
	background-position: 0 -1161px;
}

.hero-54-small {
	background-position: 0 -1188px;
}

.hero-25-small {
	background-position: 0 -1215px;
}

.hero-26-small {
	background-position: 0 -1242px;
}

.hero-80-small {
	background-position: 0 -1269px;
}

.hero-48-small {
	background-position: 0 -1296px;
}

.hero-77-small {
	background-position: 0 -1323px;
}

.hero-97-small {
	background-position: 0 -1350px;
}

.hero-94-small {
	background-position: 0 -1377px;
}

.hero-82-small {
	background-position: 0 -1404px;
}

.hero-9-small {
	background-position: 0 -1431px;
}

.hero-10-small {
	background-position: 0 -1458px;
}

.hero-89-small {
	background-position: 0 -1485px;
}

.hero-36-small {
	background-position: 0 -1512px;
}

.hero-11-small {
	background-position: 0 -1539px;
}

.hero-60-small {
	background-position: 0 -1566px;
}

.hero-88-small {
	background-position: 0 -1593px;
}

.hero-76-small {
	background-position: 0 -1620px;
}

.hero-84-small {
	background-position: 0 -1647px;
}

.hero-57-small {
	background-position: 0 -1674px;
}

.hero-111-small {
	background-position: 0 -1701px;
}

.hero-44-small {
	background-position: 0 -1728px;
}

.hero-12-small {
	background-position: 0 -1755px;
}

.hero-110-small {
	background-position: 0 -1782px;
}

.hero-13-small {
	background-position: 0 -1809px;
}

.hero-14-small {
	background-position: 0 -1836px;
}

.hero-45-small {
	background-position: 0 -1863px;
}

.hero-39-small {
	background-position: 0 -1890px;
}

.hero-51-small {
	background-position: 0 -1917px;
}

.hero-15-small {
	background-position: 0 -1944px;
}

.hero-32-small {
	background-position: 0 -1971px;
}

.hero-86-small {
	background-position: 0 -1998px;
}

.hero-16-small {
	background-position: 0 -2025px;
}

.hero-79-small {
	background-position: 0 -2052px;
}

.hero-27-small {
	background-position: 0 -2079px;
}

.hero-98-small {
	background-position: 0 -2106px;
}

.hero-75-small {
	background-position: 0 -2133px;
}

.hero-42-small {
	background-position: 0 -2160px;
}

.hero-101-small {
	background-position: 0 -2187px;
}

.hero-28-small {
	background-position: 0 -2214px;
}

.hero-93-small {
	background-position: 0 -2241px;
}

.hero-35-small {
	background-position: 0 -2268px;
}

.hero-67-small {
	background-position: 0 -2295px;
}

.hero-71-small {
	background-position: 0 -2322px;
}

.hero-17-small {
	background-position: 0 -2349px;
}

.hero-18-small {
	background-position: 0 -2376px;
}

.hero-105-small {
	background-position: 0 -2403px;
}

.hero-46-small {
	background-position: 0 -2430px;
}

.hero-109-small {
	background-position: 0 -2457px;
}

.hero-29-small {
	background-position: 0 -2484px;
}

.hero-34-small {
	background-position: 0 -2511px;
}

.hero-19-small {
	background-position: 0 -2538px;
}

.hero-83-small {
	background-position: 0 -2565px;
}

.hero-95-small {
	background-position: 0 -2592px;
}

.hero-100-small {
	background-position: 0 -2619px;
}

.hero-85-small {
	background-position: 0 -2646px;
}

.hero-70-small {
	background-position: 0 -2673px;
}

.hero-20-small {
	background-position: 0 -2700px;
}

.hero-40-small {
	background-position: 0 -2727px;
}

.hero-47-small {
	background-position: 0 -2754px;
}

.hero-92-small {
	background-position: 0 -2781px;
}

.hero-37-small {
	background-position: 0 -2808px;
}

.hero-63-small {
	background-position: 0 -2835px;
}

.hero-21-small {
	background-position: 0 -2862px;
}

.hero-112-small {
	background-position: 0 -2889px;
}

.hero-91-small {
	background-position: 0 -2916px;
}

.hero-30-small {
	background-position: 0 -2943px;
}

.hero-22-small {
	background-position: 0 -2970px;
}

