.item {
	background-image: url('../img/items.png');
	width: 36.7031px;
	height: 27px;
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: top;
}

.item-none {
	background-position: 0 0;
}

.item-208 {
	background-position: 0 -54px;
}

.item-117 {
	background-position: 0 -81px;
}

.item-232 {
	background-position: 0 -108px;
}

.item-185 {
	background-position: 0 -135px;
}

.item-180 {
	background-position: 0 -162px;
}

.item-151 {
	background-position: 0 -189px;
}

.item-112 {
	background-position: 0 -216px;
}

.item-143 {
	background-position: 0 -243px;
}

.item-17 {
	background-position: 0 -270px;
}

.item-145 {
	background-position: 0 -297px;
}

.item-116 {
	background-position: 0 -324px;
}

.item-127 {
	background-position: 0 -351px;
}

.item-22 {
	background-position: 0 -378px;
}

.item-2 {
	background-position: 0 -405px;
}

.item-240 {
	background-position: 0 -432px;
}

.item-1 {
	background-position: 0 -459px;
}

.item-121 {
	background-position: 0 -486px;
}

.item-250 {
	background-position: 0 -513px;
}

.item-29 {
	background-position: 0 -540px;
}

.item-18 {
	background-position: 0 -567px;
}

.item-41 {
	background-position: 0 -594px;
}

.item-73 {
	background-position: 0 -621px;
}

.item-16 {
	background-position: 0 -648px;
}

.item-3 {
	background-position: 0 -675px;
}

.item-86 {
	background-position: 0 -702px;
}

.item-139 {
	background-position: 0 -729px;
}

.item-4 {
	background-position: 0 -756px;
}

.item-33 {
	background-position: 0 -783px;
}

.item-20 {
	background-position: 0 -810px;
}

.item-38 {
	background-position: 0 -837px;
}

.item-5 {
	background-position: 0 -864px;
}

.item-31 {
	background-position: 0 -891px;
}

.item-45 {
	background-position: 0 -918px;
}

.item-242 {
	background-position: 0 -945px;
}

.item-100 {
	background-position: 0 -972px;
}

.item-104 {
	background-position: 0 -999px;
}

.item-201 {
	background-position: 0 -1026px;
}

.item-202 {
	background-position: 0 -1053px;
}

.item-203 {
	background-position: 0 -1080px;
}

.item-204 {
	background-position: 0 -1107px;
}

.item-51 {
	background-position: 0 -1134px;
}

.item-168 {
	background-position: 0 -1161px;
}

.item-174 {
	background-position: 0 -1188px;
}

.item-196 {
	background-position: 0 -1215px;
}

.item-236 {
	background-position: 0 -1242px;
}

.item-40 {
	background-position: 0 -1269px;
}

.item-52 {
	background-position: 0 -1296px;
}

.item-252 {
	background-position: 0 -1323px;
}

.item-216 {
	background-position: 0 -1350px;
}

.item-59 {
	background-position: 0 -1377px;
}

.item-176 {
	background-position: 0 -1404px;
}

.item-237 {
	background-position: 0 -1431px;
}

.item-39 {
	background-position: 0 -1458px;
}

.item-84 {
	background-position: 0 -1485px;
}

.item-102 {
	background-position: 0 -1512px;
}

.item-13 {
	background-position: 0 -1539px;
}

.item-30 {
	background-position: 0 -1566px;
}

.item-37 {
	background-position: 0 -1593px;
}

.item-254 {
	background-position: 0 -1620px;
}

.item-25 {
	background-position: 0 -1647px;
}

.item-141 {
	background-position: 0 -1674px;
}

.item-231 {
	background-position: 0 -1701px;
}

.item-65 {
	background-position: 0 -1728px;
}

.item-94 {
	background-position: 0 -1755px;
}

.item-114 {
	background-position: 0 -1782px;
}

.item-210 {
	background-position: 0 -1809px;
}

.item-6 {
	background-position: 0 -1836px;
}

.item-164 {
	background-position: 0 -1863px;
}

.item-131 {
	background-position: 0 -1890px;
}

.item-263 {
	background-position: 0 -1917px;
}

.item-55 {
	background-position: 0 -1944px;
}

.item-265 {
	background-position: 0 -1971px;
}

.item-152 {
	background-position: 0 -1998px;
}

.item-239 {
	background-position: 0 -2025px;
}

.item-7 {
	background-position: 0 -2052px;
}

.item-149 {
	background-position: 0 -2079px;
}

.item-26 {
	background-position: 0 -2106px;
}

.item-226 {
	background-position: 0 -2133px;
}

.item-166 {
	background-position: 0 -2160px;
}

.item-34 {
	background-position: 0 -2187px;
}

.item-36 {
	background-position: 0 -2214px;
}

.item-147 {
	background-position: 0 -2241px;
}

.item-15 {
	background-position: 0 -2268px;
}

.item-172 {
	background-position: 0 -2295px;
}

.item-187 {
	background-position: 0 -2322px;
}

.item-79 {
	background-position: 0 -2349px;
}

.item-8 {
	background-position: 0 -2376px;
}

.item-158 {
	background-position: 0 -2403px;
}

.item-135 {
	background-position: 0 -2430px;
}

.item-247 {
	background-position: 0 -2457px;
}

.item-58 {
	background-position: 0 -2484px;
}

.item-106 {
	background-position: 0 -2511px;
}

.item-193 {
	background-position: 0 -2538px;
}

.item-194 {
	background-position: 0 -2565px;
}

.item-77 {
	background-position: 0 -2592px;
}

.item-67 {
	background-position: 0 -2619px;
}

.item-235 {
	background-position: 0 -2646px;
}

.item-21 {
	background-position: 0 -2673px;
}

.item-181 {
	background-position: 0 -2700px;
}

.item-98 {
	background-position: 0 -2727px;
}

.item-69 {
	background-position: 0 -2754px;
}

.item-50 {
	background-position: 0 -2781px;
}

.item-90 {
	background-position: 0 -2808px;
}

.item-9 {
	background-position: 0 -2835px;
}

.item-60 {
	background-position: 0 -2862px;
}

.item-71 {
	background-position: 0 -2889px;
}

.item-63 {
	background-position: 0 -2916px;
}

.item-10 {
	background-position: 0 -2943px;
}

.item-11 {
	background-position: 0 -2970px;
}

.item-137 {
	background-position: 0 -2997px;
}

.item-133 {
	background-position: 0 -3024px;
}

.item-53 {
	background-position: 0 -3051px;
}

.item-207 {
	background-position: 0 -27px;
}

.item-233 {
	background-position: 0 -27px;
}

.item-184 {
	background-position: 0 -27px;
}

.item-150 {
	background-position: 0 -27px;
}

.item-111 {
	background-position: 0 -27px;
}

.item-142 {
	background-position: 0 -27px;
}

.item-115 {
	background-position: 0 -27px;
}

.item-120 {
	background-position: 0 -27px;
}

.item-245 {
	background-position: 0 -27px;
}

.item-72 {
	background-position: 0 -27px;
}

.item-85 {
	background-position: 0 -27px;
}

.item-243 {
	background-position: 0 -27px;
}

.item-99 {
	background-position: 0 -27px;
}

.item-103 {
	background-position: 0 -27px;
}

.item-173 {
	background-position: 0 -27px;
}

.item-101 {
	background-position: 0 -27px;
}

.item-140 {
	background-position: 0 -27px;
}

.item-230 {
	background-position: 0 -27px;
}

.item-64 {
	background-position: 0 -27px;
}

.item-93 {
	background-position: 0 -27px;
}

.item-113 {
	background-position: 0 -27px;
}

.item-163 {
	background-position: 0 -27px;
}

.item-262 {
	background-position: 0 -27px;
}

.item-238 {
	background-position: 0 -27px;
}

.item-148 {
	background-position: 0 -27px;
}

.item-165 {
	background-position: 0 -27px;
}

.item-146 {
	background-position: 0 -27px;
}

.item-171 {
	background-position: 0 -27px;
}

.item-78 {
	background-position: 0 -27px;
}

.item-157 {
	background-position: 0 -27px;
}

.item-105 {
	background-position: 0 -27px;
}

.item-76 {
	background-position: 0 -27px;
}

.item-97 {
	background-position: 0 -27px;
}

.item-89 {
	background-position: 0 -27px;
}

.item-136 {
	background-position: 0 -27px;
}

.item-109 {
	background-position: 0 -27px;
}

.item-161 {
	background-position: 0 -27px;
}

.item-118 {
	background-position: 0 -27px;
}

.item-248 {
	background-position: 0 -27px;
}

.item-177 {
	background-position: 0 -27px;
}

.item-122 {
	background-position: 0 -27px;
}

.item-47 {
	background-position: 0 -27px;
}

.item-91 {
	background-position: 0 -27px;
}

.item-189 {
	background-position: 0 -27px;
}

.item-74 {
	background-position: 0 -27px;
}

.item-169 {
	background-position: 0 -27px;
}

.item-110 {
	background-position: 0 -3078px;
}

.item-54 {
	background-position: 0 -3105px;
}

.item-212 {
	background-position: 0 -3132px;
}

.item-88 {
	background-position: 0 -3159px;
}

.item-56 {
	background-position: 0 -3186px;
}

.item-12 {
	background-position: 0 -3213px;
}

.item-27 {
	background-position: 0 -3240px;
}

.item-1021 {
	background-position: 0 -3267px;
}

.item-1022 {
	background-position: 0 -3294px;
}

.item-1023 {
	background-position: 0 -3321px;
}

.item-1024 {
	background-position: 0 -3348px;
}

.item-1025 {
	background-position: 0 -3375px;
}

.item-1026 {
	background-position: 0 -3402px;
}

.item-1027 {
	background-position: 0 -3429px;
}

.item-19 {
	background-position: 0 -3456px;
}

.item-206 {
	background-position: 0 -3483px;
}

.item-162 {
	background-position: 0 -3510px;
}

.item-154 {
	background-position: 0 -3537px;
}

.item-156 {
	background-position: 0 -3564px;
}

.item-215 {
	background-position: 0 -3591px;
}

.item-96 {
	background-position: 0 -3618px;
}

.item-119 {
	background-position: 0 -3645px;
}

.item-249 {
	background-position: 0 -3672px;
}

.item-160 {
	background-position: 0 -3699px;
}

.item-14 {
	background-position: 0 -3726px;
}

.item-188 {
	background-position: 0 -3753px;
}

.item-28 {
	background-position: 0 -3780px;
}

.item-229 {
	background-position: 0 -3807px;
}

.item-129 {
	background-position: 0 -3834px;
}

.item-178 {
	background-position: 0 -3861px;
}

.item-123 {
	background-position: 0 -3888px;
}

.item-23 {
	background-position: 0 -3915px;
}

.item-182 {
	background-position: 0 -3942px;
}

.item-32 {
	background-position: 0 -3969px;
}

.item-44 {
	background-position: 0 -3996px;
}

.item-241 {
	background-position: 0 -4023px;
}

.item-257 {
	background-position: 0 -4050px;
}

.item-46 {
	background-position: 0 -4077px;
}

.item-214 {
	background-position: 0 -4104px;
}

.item-48 {
	background-position: 0 -4131px;
}

.item-220 {
	background-position: 0 -4158px;
}

.item-24 {
	background-position: 0 -4185px;
}

.item-108 {
	background-position: 0 -4212px;
}

.item-92 {
	background-position: 0 -4239px;
}

.item-125 {
	background-position: 0 -4266px;
}

.item-190 {
	background-position: 0 -4293px;
}

.item-61 {
	background-position: 0 -4320px;
}

.item-81 {
	background-position: 0 -4347px;
}

.item-57 {
	background-position: 0 -4374px;
}

.item-218 {
	background-position: 0 -4401px;
}

.item-42 {
	background-position: 0 -4428px;
}

.item-43 {
	background-position: 0 -4455px;
}

.item-244 {
	background-position: 0 -4482px;
}

.item-75 {
	background-position: 0 -4509px;
}

.item-170 {
	background-position: 0 -4536px;
}

